.carouselIndicators {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  width: 50px;
  height: 100px;
  z-index: 2;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0%;
  cursor: pointer;
  /* left: 0; */
  /* right: 0; */
}
.sliderTrailer {
  z-index: 1;
  width: 100%;
  margin-top: 60px;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  border: none;
  /* background-color: #e8e8e8; */
}
.slick-dots {
  bottom: 13px;
  width: 100%;
  margin: 0;
  list-style: none;
  text-align: center;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #e2cc1e;
}
.slick-dots li button:before {
  font-size: 18px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
}

.img-product::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  top: 0;
  left: 0;
  transition: all 0.5s ease;
}

.img-product:hover::after {
  opacity: 1;
  cursor: pointer;
}
.img-product {
  position: relative;
}
